<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFAppleHelpAnchor</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eomodeld</string>
				<string>eomodel</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EOModel</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.dsym</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.dsym</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>EOModelEditor</string>
	<key>CFBundleGetInfoString</key>
	<string>EOModelEditor version 1.0.0</string>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnustep.gdl.EOModelEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EOModelEditor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>eomo</string>
	<key>CFBundleVersion</key>
	<string>1650</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>EOModelEditorApp</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EOModel</string>
			<key>UTTypeIconName</key>
			<string>EOModel</string>
			<key>UTTypeIdentifier</key>
			<string>org.gnustep.gdl.eomodel</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.gnustep.org/tools/eomodeleditor/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eomodeld</string>
					<string>eomodel</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
