{
    attributes = (
	{
	    externalType = TEXT;
	    name = char;
	    valueClassName = NSString;
	    width = 30;
	},
	{
	    externalType = DATE;
	    name = date;
	    valueClassName = NSCalendarDate;
	},
	{
	    externalType = decimal;
	    name = decimal;
	    precision = 12;
	    scale = 2;
	    valueClassName = NSDecimalNumber;
	},
	{
	    externalType = INTEGER;
	    name = integer;
	    valueClassName = NSNumber;
	    valueType = i;
	}
    );
    className = EOGenericRecord;
    isAbstractEntity = Y;
    name = EOSQLite3Prototypes;
    relationships = (
    );
}