{
    attributes = (
	{
	    columnName = NAME;
	    name = name;
	    prototypeName = char;
	},
	{
	    columnName = PID;
	    name = pid;
	    prototypeName = integer;
	}
    );
    className = EOGenericRecord;
    classProperties = (
	name,
	products
    );
    externalName = TST_PRODUCTGROUP;
    name = ProductGroup;
    primaryKeyAttributes = (
	pid
    );
    relationships = (
	{
	    destination = Product;
	    isToMany = Y;
	    joinSemantic = EOInnerJoin;
	    joins = (
		{
		    destinationAttribute = grpid;
		    sourceAttribute = pid;
		}
	    );
	    name = products;
	}
    );
}